body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  background-color: rgb(19, 10, 35);
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  background-color: white;
  color: black;
  width: 100px;
  font-weight: 700;
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  cursor: pointer;
  text-decoration: none;
}
.title{

        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 50px;
        color: rgb(220, 220, 220);
}
